{% extends 'game/layout.html' %}

{% block body %}
    <h1>Add Test</h1>
    {% if game_clear %}
        <p>Clear!!</p>
        <p><a href="{% url 'game/reset' %}">Play again</a></p>
    {% else %}
        <p>Guess Word!!</p>
        <p>
            How to play:</br>
            Please input 5 letter English word.
            If the alphabet in your answer, <span style="color: #B59F3B"> that alphabet's color become yellow, </span></br>
            and if that's place is correct, <span style="color: #538D4E"> that alphabet's color become green. </span>
        </p>
        <p>
            {% for letter in letters %}
                {{ letter }}
            {% endfor %}
        </p>
        <form method="post">
            {% csrf_token %}
            <label for="letter_guess">Enter a letter:</label>
            <input type="text" name="letter_guess" />
            <input type="submit" value="Guess" />
        </form>
    {% endif %}
{% endblock %}