{% extends 'game/layout.html' %}

{% block body %}
    <h1>Add Test</h1>
    {% if game_over %}
        <p>Clear!!</p>
        <p><a href="{% url 'reset' %}">Play again</a></p>
    {% else %}
        <p>Guess Word!!</p>
        <p>
            {% for letter in letters %}
                {{ letter }}
            {% endfor %}
        </p>
        <form method="post">
            {% csrf_token %}
            <label for="letter_guess">Enter a letter:</label>
            <input type="text" name="letter_guess" />
            <input type="submit" value="Guess" />
        </form>
    {% endif %}

    {% comment %} <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="try!!">
    </form>
    <!--<a href={% url 'play' %}>check result</a>--> {% endcomment %}
{% endblock %}