label {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin-bottom: 10px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border: 1px solid;
}

#title {
    margin-bottom: 10px;
    width: 250px;
}